
.container  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.view-user-container {
  margin: 20px;
  align-items: center;
}

.view-user-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.delete-button,
.edit-button {
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
}

.edit-button {
  background-color: #4caf50;
  color: #0b0b0b;
  border: none;
}
.submit{
  color:#0b0b0b

}
.add-user-container {
  text-align: center;
  margin-top: 20px;
}

.add-user-form {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.add-user-form input {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.add-user-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-user-form input[type="submit"]:hover {
  background-color: #45a049;
}
